<div class="grid-x grid-padding-x">
  <div class="cell">
    <% form({method: :post}, {obj: @options}) do |f| %>
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <%= f.input(:word_name, type: :text, label: "Введите слово", placeholder: 'Коса') %>
      </div>
      <div class="cell">
        <%= f.button(value: "Добавить новое слово", class:"button") %>
        <a class="button" href="<%= menu_path %>">Отмена</a>
        <a class="button" href="<%= menu_path %>">Отмена</a>
      </div>
    </div>
    <% end %>
  </div>
</div>