<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Переводчик</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="grid-container">
  <div class="medium-8 cell">
    <div class="top-bar">
      <div class="top-bar-left">
        <a href="/menu" class="">Главное меню</a>
      </div>
      <div class="top-bar-right">
        Перевод слов осуществляется с языка: <strong><%= @cur_lang.capitalize %></strong>
      </div>
    </div>
  </div>
  <div class="medium-10 cell">
    <h2>Сайт-переводчик</h2>
    <div class="callout"><%= yield %></div>
  </div>
</div>
</div>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
</body>
</html>
