<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>К сожалению, ничего не было найдено</h3>
    <p>
      <a href="/menu">Вернуться к основному меню переводчика</a>
    </p>
  </div>
</div>
