<div class="grid-x grid-margin-x">
  <div class="cell large-12">
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consectetur dignissimos distinctio dolorem enim eos non officiis quae quasi quia repellat saepe soluta, suscipit tempore.</h3>
  </div>
</div>
